@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de contraseña olvidada";
    Layout = "~/Views/Shared/_IdentityAccountLayout.cshtml";
}

<div class="container">
    <div class="zeroexcusas-header"><a asp-controller="Home" asp-action="Index">ZEROEXCUSAS</a></div>
    <div class="card small-centralised-card box-shadow login-card-background">
        <div class="card-body">
            <h6 class="font-size-20 font-family-poppins-medium">
                El enlace para restablecer su contraseña se ha enviado a su dirección de correo electrónico.
            </h6>
        </div>
    </div>
</div>
