@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Se te olvidó tu contraseña";
    Layout = "~/Views/Shared/_IdentityAccountLayout.cshtml";
}

<div class="container">
    <div class="zeroexcusas-header"><a asp-controller="Home" asp-action="Index">ZEROEXCUSAS</a></div>
    <div class="card small-centralised-card box-shadow login-card-background">
        <div class="card-body">
            <h6 class="font-family-poppins-bold" style="font-size:18px">
                Ingresa el correo electronico asociado con tu cuenta y te enviaremos el link para recuperar tu contrasena.
            </h6>
            <form method="post">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="mx-auto box-shadow mb-1" style="width:100%;border-radius:10px;padding:10px 5px 5px 5px">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="text-center font-family-poppins-medium mb-1">
                    <button type="submit" class="btn custom-primary-btn" id="submit-button">CONTINUA <i class="fas fa-chevron-right"></i></button>
                </div>
                <p class="font-weight-500 font-family-poppins-medium font-size-15 mt-3 mb-0">
                    Yu tienes una cuenta? <a asp-page="./Login" style="text-decoration:underline">Inicia sesion</a>
                </p>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
