@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecer la confirmación de la contraseña";
    Layout = "~/Views/Shared/_IdentityAccountLayout.cshtml";
}

<div class="container">
    <div class="zeroexcusas-header"><a asp-controller="Home" asp-action="Index">ZEROEXCUSAS</a></div>
    <div class="card small-centralised-card box-shadow login-card-background">
        <div class="card-body">
            <h6 class="font-weight-500 font-size-20 font-family-poppins-medium">
                Tu contraseña ha sido restablecida con éxito
            </h6>
            <p class="font-weight-500 mb-0 font-size-20 font-family-poppins-medium">
                <a asp-page="./Login" style="text-decoration:underline">
                    Haga clic aquí para ingresar
                </a>
            </p>
        </div>
    </div>
</div>