
<div>
    <div style="height:100px;width:100px;margin-bottom:20px" class="mx-auto">
        <img src="~/Images/icons/clock-icon.png" class="text-center w-100 h-100" />
    </div>
    <div class="px-3 font-family-poppins-medium" style="justify-content:center">
        <div class="font-size-18 font-weight-bold" style="line-height:20px">
            Consigue tu meta más rápido y
            efectivamente con Zero Excusas PLUS
        </div>
        <div class="font-size-15 mt-3">
            <div class="font-family-poppins-medium font-size-15">
                <div class="row mx-0">
                    <span style="width:35px"><i class="fas fa-check"></i></span>
                    <span style="width:85%">Escoge tu número de comidas al día </span>
                </div>
                <div class="row mx-0">
                    <span style="width:35px"><i class="fas fa-check"></i></span>
                    <span style="width:85%">Asesoría y Soporte 24/7</span>
                </div>
                <div class="row mx-0">
                    <span style="width:35px"><i class="fas fa-check"></i></span>
                    <span style="width:85%">Entrena con +100 rutinas para tonificar y</span>
                </div>
                <div class="row mx-0">
                    <span style="width:35px"><i class="fas fa-check"></i></span>
                    <span style="width:85%">aumentar masa muscular. Has tus ejercicios más efectivos con </span>
                </div>
            </div>
        </div>
        <div class="text-center my-2 font-family-poppins-medium">
            <a asp-controller="Subscribe" asp-action="Index" class="btn custom-secondary-btn text-black w-100">Prueba Gratis 7 días <i class="fas fa-chevron-right"></i></a>
        </div>
        <div class="text-center font-size-15 mt-3 mb-5 mb-lg-0">
            Si no es para tí, puedes cancelar durante el período de prueba
        </div>
        @*<div class="row mx-0">
            <span style="width:25%">
                <img src="~/Images/icons/mailBox.png" style="width:100%" />
            </span>
            <span style="width:70%;margin-top:20px" class="font-size-15">
                Queremos aclarar tus preguntas!<br />
                Escribe tu mensaje y contestaremos lo mas pronto posible!
            </span>
        </div>
        <div class="text-center my-3">
            <a asp-controller="contactus" asp-action="index" class="btn custom-primary-btn">Contactanos</a>
        </div>*@
    </div>
</div>

<style>
    .cancel-character-x:before {
        content: "\2715";
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 28px;
        color: black;
    }

    .arrow-icon {
        width: 25px;
    }
</style>