
@{
    ViewData["Title"] = "Expired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="font-family-poppins-medium">
    <div class="card centralised-card box-shadow mt-md-5">
        <div class="card-body">
            <h3>Expired</h3>
            <hr />
            Sorry your subscription has expired. <a asp-action="Index">Subscribe</a> to continue to enjoy our service.
        </div>
    </div>

    <h2>
        Page under construction
    </h2>

</div>