@model IbradnzMealBuilder.Models.AddLiveZoomModel
@using IbradnzMealBuilder.Utility
@{
    ViewData["Title"] = "Add Live";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
    ViewData["Header"] = "Agregar zoom en vivo".ToUpper();
}


<div class="card dark-grey-background mx-auto mb-5 font-family-poppins-medium" style="min-width:200px;max-width:500px">
    <div class="card-body">
        <form method="post">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="mx-auto box-shadow mb-2" style="width:100%;border-radius:10px;padding:10px 5px 5px 5px">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            }
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div style="text-align:center">
                <input id="submit-button" type="submit" class="btn custom-secondary-btn mx-auto" value="Añadir" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
