@model IbradnzMealBuilder.Models.TutorialModel
@{
    ViewData["Title"] = "Paso 0";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="container-fluid">
    <div class="overlay suc-overlay">
        <a asp-controller="subscribe" asp-action="index" class="cancel-character-x" role="img" aria-label="Accept"></a>
        <div style="padding-left:50px;padding-right:50px">
            <div class="text-center mb-4">
                <div style="margin-top:200px">
                    <img src="~/Images/icons/folded-hands.png" style="height:22px;width:22px" />
                    <div class="text-white font-h2">
                        Listo @Model.CustomerName
                        <div>¡Ya calculamos tus porciones!</div>
                    </div>
                    <div class="text-white font-b1 text-center" style="margin:50px auto">
                        En 3 rápidos pasos, aprende como controlar tu
                        alimentación con el constructor de comidas
                    </div>
                </div>
            </div>
            <div class="font-family-poppins-medium text-center mt-3">
                <a asp-action="Tutorial1" asp-controller="tutorial" class="btn custom-secondary-btn font-b1" style="font-size:16px">
                    Inicia el tutorial <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<partial name="/Views/Shared/PageUnderlays/_Tutorial0.cshtml" model="Model"/>

<style>
    .cancel-character-x:before {
        content: "\2715";
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 28px;
        color: white;
    }
    .arrow-icon {
        width: 25px;
    }
</style>